# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.eggs/
develop-eggs/
dist/
build/
sdist/
*.egg-info/
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
*.py,cover
*.mo
*.pot

# Environments
.venv
venv
env
ENV
*.env

# Jupyter Notebook
.ipynb_checkpoints

# mypy
.mypy_cache/
mypy-report/

# Flake8 and pylint
.flake8
*.pylintrc

# VS Code
.vscode/

# PyCharm
.idea/

# Logs
*.log

# OS or Editor folders
.DS_Store